.body{
    background-image: url("https://images.unsplash.com/photo-1512950050685-b1d4ae63d2df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM0fHxzb2xpZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: #6668ec52;
    opacity: 0.9;
    
}
.heading{
    font-size: 16px;
    color: black;
    text-align: center;
    

}
.tafuta1{
    background-color: #fcc309ab;
    border-radius: 80px;
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
    width: 90%;
    /* margin: right; */
    margin-top: 10px;

}

