<div class="body">
  <div class="heading">
    <h1 class="mt-4 text-center maneno"><u>Welcome To Github</u></h1>
    <br>
    <p>
      Github is a website where developers get to interact with other developers
      and get to contribute to open source projects.<br />
      Github is a place where you can share your code,view each others
      repositories more like a social platform for developers.
    </p>
  </div>

  <div class="card tafuta">
    <div class="card-body">
      <h5 class="card-title">Search Github</h5>
      <p class="card-text">Search Github for users</p>

      <input type="text" #val placeholder="enter your github username" />
      <button role="button" (click)="searchGithub(val.value)">search</button>
      <div class="login">
        <h3>{{ results.login }}</h3>
        <img src="{{ results.avatar_url }}" alt="{{ results.login }}" />
      </div>
    </div>
  </div>
</div>
