<div class="body">
  <div class="heading">
    <h1 class="mt-4 text-center maneno"><u>Welcome To Github</u></h1>
    <br />
    <p>
      Github is a website where developers get to interact with other developers
      and get to contribute to open source projects.<br />
      Github is a place where you can share your code,view each others
      repositories more like a social platform for developers.
    </p>
  </div>

  <div class="row ">
    <div class="col-sm-6 ">
      <div class="card tafuta1">
    
    <div class="card-body">
      <h4 class="card-title">Search for Github usernames</h4>

      <div class="input-group mb-3 fomu">
        <input type="text" #val placeholder="enter your github username" />

        <button
          type="button"
          class="btn btn-primary text"
          (click)="searchGithub(val.value)"
        >
          Search Username
        </button>
      </div>
      <div class="login">
        <h3>{{ results.login }}</h3>
        <img src="{{ results.avatar_url }}" alt="{{ results.login }}" />
      </div>
    </div>
    </div>
    </div>
    <div class="col-sm-6 ">
      <div class="card tafuta1">
    <div class="card-body">
      <h4 class="card-title">Search for Repositories</h4>
      <div class="input-group mb-3 rps">
        <input type="text" #repo placeholder="enter your repositories" />
        <button
          type="button"
          class="btn btn-primary text"
          (click)="searchRepo(repo.value)"
        >
          Search Repo
        </button>
      </div>
      <div *ngFor="let repoResult of repoResults">
        <p>Github repo</p>

        <img [src]="repoResult.owner.avatar_url" alt="reponame" />
      </div>
    </div>
  </div>
</div>
</div>
